<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhà cung cấp</title>
</head>
<body>
<div layout:fragment="content">

    <nav class="navbar bg-primary-custom pb-4 px-0">
        <div class="w-100">
            <form th:action="@{/manager/supplier/search}" class="d-flex w-100" role="search" method="post">
                <input th:name="keyword" th:value="${key}" class="form-control" type="search" placeholder="Search" aria-label="Search" required />
                <button class="btn btn-primary ml-3" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="overflow-auto" style="max-height: 495px;">
        <table class="table table-striped table-bordered ">
            <thead class="thead-light sticky-top">
            <th>Tên nhà cung cấp</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th style="width: 1%; white-space: nowrap;">Hành động</th>
            </thead>
            <tbody>
            <tr th:each="supplier : ${supplierList}">
                <td th:text="${supplier.tenNhaCungCap}"></td>
                <td th:text="${supplier.diaChi}"></td>
                <td th:text="${supplier.soDienThoai}"></td>

                <td style="width: 1%; white-space: nowrap;">
                    <a th:href="@{|/manager/supplier/delete/${supplier.id}|}"
                       onclick="return confirm('Bạn có chắc chắn muốn xóa nhà cung cấp này không?');"
                       class="btn btn-danger btn-sm mr-1">
                        <i class="fa-solid fa-trash"></i> Xóa
                    </a>
                    <a th:href="@{|/manager/supplier/edit/${supplier.id}|}"
                       class="btn btn-success btn-sm">
                        <i class="fa-solid fa-pencil"></i> Cập nhật
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>