<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Thêm thực đơn</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5 text-left">

        <form th:action="@{${action == 'add' ? '/manager/dish/process-add' : '/manager/dish/process-update'}}"
              method="post" th:object="${dishForm}">
            <input type="hidden" th:field="*{id}" th:if="${action != 'add'}">
            <div class="d-flex flex-row ">
                <div class="form-group row mr-3">
                    <label class="form-col-label col-4 text-left">Tên món</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{tenMon}" required>
                    </div>
                </div>
                <div class="form-group row ml-5">
                    <label class="form-col-label col-4 text-left">Giá tiền</label>
                    <div class="col-8">
                        <input type="number" oninput="if(this.value < 0) this.value = 0" on class="form-control"
                               th:field="*{giaTien}" required>
                    </div>
                </div>
            </div>

            <div class="overflow-auto mt-3" style="max-height: 345px;">
                <table class="table table-bordered">
                    <thead class="thead-light sticky-top">
                    <tr>
                        <th>Tên thành phần</th>
                        <th>Khối lượng</th>
                        <th>Đơn vị tính</th>
                        <th style="width: 1%; white-space: nowrap;">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody id="recipeTableBody">

                    <!-----------    edit    --------->
                    <tr th:each="r, iterStat : ${dishForm.recipeDetails}" th:if="${action == 'edit'}" class="recipe-row">
                        <td>
                            <!-- Hiển thị tên hàng cho người dùng thấy -->
                            <span th:text="${r.hangHoa.tenHangHoa}">Tên hàng</span>
                            <!-- Input ẩn để lưu ID gửi về Controller -->
                            <input type="hidden" th:name="|recipeDetails[__${iterStat.index}__].merchandiseId|"
                                   th:value="${r.hangHoa.getId()}">
                        </td>
                        <td>
                            <!-- Hiển thị số lượng -->
                            <span th:text="${r.soLuong}">0</span>
                            <!-- Input ẩn lưu số lượng -->
                            <input type="hidden" th:name="|recipeDetails[__${iterStat.index}__].quantity|"
                                   th:value="${r.soLuong}">
                        </td>
                        <td>
                            <!-- Hiển thị đơn vị tính -->
                            <span th:text="${r.donViTinh.getTenDonViTinh()}">Đơn vị</span>
                            <!-- Input ẩn lưu unitId -->
                            <input type="hidden" th:name="|recipeDetails[__${iterStat.index}__].unitId|"
                                   th:value="${r.donViTinh.getId()}">
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeIngredientRow(this)">
                                Xóa
                            </button>
                        </td>
                    </tr>

                    <!-- Các dòng được thêm bằng JS sẽ hiển thị ở đây -->
                    </tbody>

                    <!-- Dòng nhập liệu cố định ở cuối bảng -->
                    <tfoot class="bg-light" style="position: sticky; bottom: 0; z-index: 1;">
                    <tr>
                        <td>
                            <select id="inputMerchandise" class="form-control select" data-placeholder="-- Chọn nguyên liệu --">
                                <option value="" disabled selected>-- Chọn nguyên liệu --</option>
                                <option th:each="m : ${merchandises}"
                                        th:value="${m.id}"
                                        th:text="${m.tenHangHoa}"
                                        th:data-merchandise="${m.tenHangHoa}"></option>
                            </select>
                        </td>
                        <td>
                            <input type="number" step="any" id="inputQuantity" class="form-control"
                                   placeholder="Nhập khối lượng">
                        </td>
                        <td>
                            <select id="inputUnit" class="form-control select" data-placeholder="-- Chọn đơn vị --">
                                <option value="" disabled selected>-- Chọn đơn vị --</option>
                                <option th:each="u : ${units}"
                                        th:value="${u.id}"
                                        th:text="${u.tenDonViTinh}"
                                        th:data-unit="${u.tenDonViTinh}"></option>
                            </select>
                        </td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-primary btn-sm btn-block" onclick="addNewIngredient()">
                                Thêm
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>


            <div class="mt-5 text-center">
                <button type="submit" class="btn btn-primary"
                        th:text="${action == 'add' ? 'Thêm' : 'Cập nhật'}"></button>
                <a href="/manager/dish/list" class="btn btn-danger ml-5">Hủy</a>
            </div>
        </form>

    </div>
    <script th:src="@{/js/dish.js}"></script>

</div>
</body>
</html>