<div th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="list-group list-group-flush border rounded overflow-hidden text-left overflow-auto" >

        <a th:href="@{/}" class="list-group-item list-group-item-action border-bottom"
           th:classappend="${activeParent == 'trangChu'} ? 'active' : ''"
        >Trang chủ</a>
        <a th:href="@{/profile}" class="list-group-item list-group-item-action border-bottom"
           th:classappend="${activeParent == 'trangCaNhan'} ? 'active' : ''"
        >Trang cá nhân</a>

        <!--       Quản lý bán hàng-->
        <a class="list-group-item list-group-item-action border-bottom mb-0"
           th:classappend="${activeParent == 'banHang'} ? 'active' : ''"
        >Quản lý bán hàng</a>

        <div class=""
             sec:authorize="hasRole('ADMIN')"
        >
            <!--        Quản lý nhân viên-->
            <a href="#nhanVienSubMenu" data-toggle="collapse"  aria-expanded="true"
               class="list-group-item list-group-item-action border-bottom d-flex justify-content-between align-items-center"
               th:classappend="${activeParent == 'nhanVien'} ? 'active' : ''"
            >
                Quản lý nhân viên
                <span>▼</span>
            </a>

            <div class="collapse " id="nhanVienSubMenu"
                 th:classappend="${activeParent == 'nhanVien'} ? 'show' : ''"
            >
                <div class="bg-light border-bottom">
                    <a th:href="@{/manager/employees}"
                       class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'nhanVien-list'} ? 'bg-custom-active' : ''"
                    >Xem danh sách nhân viên</a>
                    <a th:href="@{/manager/employees/add}"
                       class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'nhanVien-add'} ? 'bg-custom-active' : ''"
                    >Thêm nhân viên</a>
                </div>
            </div>

            <!-- Các mục quản lý đơn lẻ khác -->
            <a href="#thietBiSubMenu" data-toggle="collapse" aria-expanded="false"
               class="list-group-item list-group-item-action border-bottom d-flex justify-content-between align-items-center"
               th:classappend="${activeParent == 'thietBi'} ? 'active' : ''"
            >
                Quản lý trang thiết bị
                <span>▼</span>
            </a>

            <div class="collapse" id="thietBiSubMenu"
                 th:classappend="${activeParent == 'thietBi'} ? 'show' : ''"
            >
                <div class="bg-light border-bottom">
                    <a th:href="@{/manager/equipment/list}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'thietBi-list'} ? 'bg-custom-active text-white' : ''"
                    >
                        Xem danh sách thiết bị
                    </a>
                    <a th:href="@{/manager/equipment/add}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'thietBi-add'} ? 'bg-custom-active text-white' : ''"
                    >
                        Thêm thiết bị
                    </a>
                </div>
            </div>

            <!--        Quản lý kho hàng-->
            <a href="#khoHangSubMenu" data-toggle="collapse" aria-expanded="false"
               class="list-group-item list-group-item-action border-bottom d-flex justify-content-between align-items-center"
               th:classappend="${activeParent == 'khoHang'} ? 'active' : ''"
            >
                Quản lý kho hàng
                <span>▼</span>
            </a>

            <div class="collapse" id="khoHangSubMenu"
                 th:classappend="${activeParent == 'khoHang'} ? 'show' : ''"
            >
                <div class="bg-light border-bottom">
                    <a th:href="@{/manager/merchandise/list}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'hangHoa-list'} ? 'bg-custom-active text-white' : ''"
                    >
                        Xem danh sách hàng
                    </a>
                    <a th:href="@{/manager/merchandise/add}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'hangHoa-add'} ? 'bg-custom-active text-white' : ''"
                    >
                        Thêm hàng hóa
                    </a>
                    <a href="" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'hangHoa-import'} ? 'bg-custom-active text-white' : ''"
                    >
                        Nhập hàng hóa
                    </a>
                    <a href="" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'hangHoa-export'} ? 'bg-custom-active text-white' : ''"
                    >
                        Xuất hàng hóa
                    </a>
                </div>
            </div>

            <!--        Quản lý thực đơn-->
            <a href="#thucDonSubMenu" data-toggle="collapse" aria-expanded="false"
               class="list-group-item list-group-item-action border-bottom d-flex justify-content-between align-items-center"
               th:classappend="${activeParent == 'thucDon'} ? 'active' : ''"
            >
                Quản lý thực đơn
                <span>▼</span>
            </a>

            <div class="collapse" id="thucDonSubMenu"
                 th:classappend="${activeParent == 'thucDon'} ? 'show' : ''"
            >
                <div class="bg-light border-bottom">
                    <a th:href="@{/manager/dish/list}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'thucDon-list'} ? 'bg-custom-active text-white' : ''"
                    >
                        Xem danh sách thực đơn
                    </a>
                    <a th:href="@{/manager/dish/add}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'thucDon-add'} ? 'bg-custom-active text-white' : ''"
                    >
                        Thêm danh mục
                    </a>
                </div>
            </div>

            <!--        Quản lý marketing-->
            <a href="#marketingSubMenu" data-toggle="collapse" aria-expanded="false"
               class="list-group-item list-group-item-action border-bottom d-flex justify-content-between align-items-center"
               th:classappend="${activeParent == 'marketing'} ? 'active' : ''"
            >
                Quản lý Marketing
                <span>▼</span>
            </a>

            <div class="collapse" id="marketingSubMenu"
                 th:classappend="${activeParent == 'marketing'} ? 'show' : ''"
            >
                <div class="bg-light border-bottom">
                    <a th:href="@{/manager/voucher/list}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'marketing-list'} ? 'bg-custom-active text-white' : ''"
                    >
                        Xem danh sách khuyến mãi
                    </a>
                    <a th:href="@{/manager/voucher/add}" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'marketing-add'} ? 'bg-custom-active text-white' : ''"
                    >
                        Thêm khuyến mãi
                    </a>
                </div>
            </div>

            <!--        Quản lý ngân sách-->
            <a href="#nganSachSubMenu" data-toggle="collapse" aria-expanded="false"
               class="list-group-item list-group-item-action border-bottom d-flex justify-content-between align-items-center"
               th:classappend="${activeParent == 'nganSach'} ? 'active' : ''"
            >
                Quản lý ngân sách
                <span>▼</span>
            </a>

            <div class="collapse" id="nganSachSubMenu"
                 th:classappend="${activeParent == 'nganSach'} ? 'show' : ''"
            >
                <div class="bg-light border-bottom">
                    <a href="" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'nganSach-taoPhieuChi'} ? 'bg-primary text-white' : ''"
                    >
                        Tạo phiếu chi
                    </a>
                    <a href="" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'nganSach-thuChi'} ? 'bg-primary text-white' : ''"
                    >
                        Xem thu chi
                    </a>
                    <a href="" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'nganSach-chiTieu'} ? 'bg-primary text-white' : ''"
                    >
                        Xem chi tiêu
                    </a>
                </div>
            </div>

            <!--        Quản lý dữ liệu-->
            <a href="#duLieuSubMenu" data-toggle="collapse" aria-expanded="false"
               class="list-group-item list-group-item-action border-bottom d-flex justify-content-between align-items-center"
               th:classappend="${activeParent == 'duLieu'} ? 'active' : ''"
            >
                Quản lý dữ liệu
                <span>▼</span>
            </a>

            <div class="collapse" id="duLieuSubMenu"
                 th:classappend="${activeParent == 'duLieu'} ? 'show' : ''"
            >
                <div class="bg-light border-bottom">
                    <a href="" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'duLieu-saoLuu'} ? 'bg-primary text-white' : ''"
                    >
                        Sao lưu dữ liệu
                    </a>
                    <a href="" class="list-group-item list-group-item-action bg-transparent pl-4 border-0 py-2"
                       th:classappend="${activeChild == 'duLieu-phucHoi'} ? 'bg-primary text-white' : ''"
                    >
                        Phục hồi dữ liệu
                    </a>
                </div>
            </div>

            <!--        Thống kê báo cáo-->
            <a href="" class="btn list-group-item list-group-item-action"
               th:classappend="${activeParent == 'thongKeBaoCao'} ? 'active' : ''"
            >Thống kê, báo cáo</a>
        </div>
    </div>
</div>