<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="overflow-y: scroll;">
<div class="container">
    <div class="content">
        <h1>Danh sách nhân viên</h1>
        <div class="row">
            <div class="col-3">
                <div class="border p-2 h-100"> <!-- Đưa border và padding vào đây -->
                    <div th:insert="fragments/sidebar :: sidebar"></div>
                </div>
            </div>
            <div class="col-9 text-center">
                <div class="border p-3 h-100">
                    <nav class="navbar bg-primary-custom">
                        <div class="container-fluid">
                            <form th:action="@{/manager/employees/search}" class="d-flex w-100" role="search" method="post">
                                <input th:name="keyword" th:value="${key}" class="form-control" type="search" placeholder="Search" required aria-label="Search"/>
                                <button class="btn btn-primary ml-3" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                    <table class="table table-striped table-bordered">
                        <thead class="thead-light">
                        <th>Họ tên</th>
                        <th>Chức vụ</th>
                        <th>Lương</th>
                        <th style="width: 1%; white-space: nowrap;">Hành động</th>
                        </thead>
                        <tbody>
                        <tr th:each="employee : ${listEmployees}">
                            <td th:text="${employee.hoTen}"></td>
                            <td th:text="${employee.position.chucVu}"></td>
                            <td th:text="${#numbers.formatDecimal(employee.position.luong, 0, 'COMMA', 0, 'POINT')}"></td>
                            <td style="width: 1%; white-space: nowrap;">
                                <a th:href="@{|/manager/employees/delete/${employee.id}|}"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa nhân viên này không?');"
                                   class="btn btn-danger btn-sm mr-1">
                                    <i class="fa-solid fa-trash"></i> Xóa
                                </a>
                                <a th:href="@{|/manager/employees/edit/${employee.id}|}"
                                   class="btn btn-success btn-sm">
                                    <i class="fa-solid fa-pencil"></i> Cập nhật
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:if="${successMessage}">
    Swal.fire({
        title: "Thành công!",
        text: "[[${successMessage}]]",
        icon: "success",
        confirmButtonText: "OK"
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>