<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Thêm nhân viên</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body style="overflow-y: scroll;">
<div class="container">
    <div>
        <div>
            <h1>Thêm nhân viên</h1>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="border p-2 h-100"> <!-- Đưa border và padding vào đây -->
                    <div th:insert="fragments/sidebar :: sidebar"></div>
                </div>
            </div>
            <div class="col-9 text-center">
                <div class="border p-3 h-100">
                    <div class="row mt-5 ml-3">
                        <form th:action="@{process_add}" method="post"
                              th:object="${user}"
                              style="margin: 0 auto; width: 100%"
                              enctype="multipart/form-data"
                        >
                            <div class="row mr-3">
                                <div class="col-10">
                                    <div>
                                        <div class="form-group row">
                                            <label class="form-col-label col-3 text-left">Họ và tên</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control" th:field="*{hoTen}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="form-col-label col-3 text-left">Địa chỉ</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control" th:field="*{diaChi}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="form-col-label col-3 text-left">Số điện thoại</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control" th:field="*{soDienThoai}"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="form-col-label col-3 text-left">Tên đăng nhập</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control" th:field="*{username}" required
                                                       minlength="4">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="form-col-label col-3 text-left">Mật khẩu</label>
                                            <div class="col-9">
                                                <input type="password" class="form-control" th:field="*{password}"
                                                       minlength="4" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="form-col-label col-3 text-left">Chức vụ</label>
                                            <div class="col-9 text-left">
                                                <select class="form-select" name="positionId">
                                                    <option value="" disabled selected>Chức vụ</option>
                                                    <option th:each="p : ${positions}" th:value="${p.id}"
                                                            th:text="${p.chucVu}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-4">
                                        <button type="submit" class="btn btn-primary mr-4">Thêm</button>
                                        <a href="/manager/employees" class="btn btn-danger">Hủy</a>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div>
                                        <img id="preview-avatar" th:src="@{/img/default.png}" class="bg-white"
                                             width="120px"
                                             height="auto" style="object-fit: cover;">
                                    </div>
                                    <div>
                                        <input type="file" id="form-file" class="d-none" name="avatarFile"
                                               accept="image/*">
                                        <label for="form-file" class="btn-sm btn-secondary mt-3">Thay đổi...</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Thư viện jQuery và Bootstrap 4 JS bắt buộc phải có cho tính năng Collapse -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>